<div class = "a">
<h1>Welcome to CS 412 Serra's {{title}} </h1>
<h2>Let's find the Weather Description and Temperature of the following zipcode. </h2>

<!--<button (click)="getWeather()">Get the weather</button> -

Current weather: <br/>
temperature: {{currentZip.temp_f}} Farenheit <br/>
description: {{currentZip.wx_desc}} <br/>
<br/>

<form (ngSubmit)="getWeatherByZipcode()">
  Zipcode: <input name="zipcode" [(ngModel)]="zipcode">
  <button type="submit">Submit</button>
  </form>
  -->
<app-form></app-form>
</div>

